In [12]:
import numpy as np
import pandas as pd

In [6]:
np.nan

nan

In [7]:
Alist =[1,2,3]
len(Alist)

3

In [8]:
1e6

1000000.0

In [2]:
import scipy.optimize as opt

In [7]:
from scipy.sparse import csc_matrix
from scipy.sparse.linalg import svds, eigs

In [8]:
A = csc_matrix([[1, 0, 0], [5, 0, 2], [0, -1, 0], [0, 0, 3]], dtype=float)
u, s, vt = svds(A, k=2)

In [10]:
print(A)

  (0, 0)	1.0
  (1, 0)	5.0
  (2, 1)	-1.0
  (1, 2)	2.0
  (3, 2)	3.0

In [13]:
A = np.ones((4,3))

In [22]:
B = np.array((1,2,3))
A-B

array([[ 0., -1., -2.],
       [ 0., -1., -2.],
       [ 0., -1., -2.],
       [ 0., -1., -2.]])

In [31]:
S_test = pd.Series([1,3,5,7,9])
df_test = S_test.to_frame('score')
#df_test = df_test.reindex(columns=['score'])
df_test

   score
0      1
1      3
2      5
3      7
4      9